*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: brown;
}

.container{
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 40vh;

}

form{
  margin: 2rem 0 2rem 0 ;
}

form select,button, input{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input{
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;

}

.dropdown{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;

}

.select img{
  /* font-size: 20px; */
  width: 25px;

}

.select{
  display: flex;
  /* margin-left: 20px; */

}


.select select{
  /* font-size: 20px; */
  /* width: 20px;
   
  */
  margin-left: 10px;

}

.mgs{
  margin: 20px 0;
}

form  button{
  padding: 1rem;
  margin-top: 20px;
  border: 1px solid black;
  font-weight: bold;
  background-color: brown;
  cursor: pointer;
  color: white;


}